RewriteEngine On
RedirectMatch 403 ^/php_views/
RedirectMatch 403 ^/cache/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

ErrorDocument 404 /404
